sqlalchemy[asyncio]
asyncpg
alembic
pydantic-settings
fastapi
uvicorn
httpx
redis
structlog
psycopg[binary]
email-validator
requests
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt==3.2.0